<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <h1>Sing-Up page</h1>
    <ul>
        <li>ID</li>
        <li><input id="inpId" type="text"></li>
        <li>Password</li>
        <li><input id="inpPass" type="text"></li>
        <li>Email</li>
        <li><input id="inpEmail" type="text"></li>
        <li><button id="signup">Sign up</button></li>
    </ul>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/user/signup.js"></script>
</html>